body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    text-align: center;
    margin: auto;
    width: 310px;
    height: 60px;
    justify-content: space-evenly;
    background: #4488ee;
}

.texto {
    color: #ffffff;
        
}

#nota {
    width: 30px;
    height: 30px;
    align-self: center;
    border: none;
    border-radius: 5px;
}

.boton{
    width: 70px;
    height: 40px;
    text-align: center;
    align-self: center;
    border: none;
    border-radius: 50px;
    background: #ffffff;;
}

.letsi {
    display:flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;
    /* background: rgba(150,150,150,.5); */
}

.letsi p {
    width: 200px;
    background: green;
    padding: 30px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.letsi p:hover{
    background: #be1;
    color: #000000;
}
.wrong {
    display:flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;
    /* background: rgba(150,150,150,.5); */
}

.wrong p {
    width: 200px;
    background: red;
    padding: 30px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.wrong p:hover {
    background: #ee5555;
}
